.add-service{
    background: #DDDDDD;
    height: 90vh;
}
.add-service form{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.add-service form input, textarea{
    width: 50%;
    margin-bottom: 10px;
}